In [2]:
#Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv
import datetime
import requests
import json

In [3]:
# Load CSV Files into Dataframes
games_file = "data/games.csv"
atbats_file = "data/atbats.csv"
player_name_file = "data/player_names.csv"

games_pd = pd.read_csv(games_file)
atbats_pd = pd.read_csv(atbats_file)
player_name_pd = pd.read_csv(player_name_file)

games_atbats_merge_pd = pd.merge(games_pd, atbats_pd, how="left", on=["g_id"])
games_atbats_merge_pd.head()

,attendance,away_final_score,away_team,date,elapsed_time,g_id,home_final_score,home_team,start_time,umpire_1B,...,ab_id,batter_id,event,inning,o,p_score,p_throws,pitcher_id,stand,top
0,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Mark Wegner,...,2015000001,572761,Groundout,1,1,0,L,452657,L,True
1,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Mark Wegner,...,2015000002,518792,Double,1,1,0,L,452657,L,True
2,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Mark Wegner,...,2015000003,407812,Single,1,1,0,L,452657,R,True
3,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Mark Wegner,...,2015000004,425509,Strikeout,1,2,0,L,452657,R,True
4,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Mark Wegner,...,2015000005,571431,Strikeout,1,3,0,L,452657,L,True

In [4]:

games_atbats_merge_pd.columns

Index(['attendance', 'away_final_score', 'away_team', 'date', 'elapsed_time',
       'g_id', 'home_final_score', 'home_team', 'start_time', 'umpire_1B',
       'umpire_2B', 'umpire_3B', 'umpire_HP', 'venue_name', 'weather', 'wind',
       'delay', 'ab_id', 'batter_id', 'event', 'inning', 'o', 'p_score',
       'p_throws', 'pitcher_id', 'stand', 'top'],
      dtype='object')

In [4]:
# Keala's Player Input Visualization

In [ ]:
#Keala's Venue Visualization

In [ ]:
#Scott's Weather Visualizations - Temp, Conditions, & Wind speed

In [5]:
#Kelsey's Time Visualizations - Day of the week, & Time of day

In [17]:
#Jorge's Stats Visualizations - Home scores/Record
### Get Home ABs
dfHomeAB  = games_atbats_merge_pd.loc[games_atbats_merge_pd['top'] == False, :] #Home ABs
dfHomeAB = dfHomeAB[['attendance', 'away_final_score', 'away_team', 'g_id', 'home_final_score', 'home_team', 'venue_name' ]]
dfAwayAB  = games_atbats_merge_pd.loc[games_atbats_merge_pd['top'] == True, :] #Away Abs
dfAwayAB = dfAwayAB[['attendance', 'away_final_score', 'away_team', 'g_id', 'home_final_score', 'home_team', 'venue_name' ]]
dfAwayAB.head()
grpHome = dfHomeAB.groupby('g_id')
grpHome.count()
# dfHomeRec = pd.DataFrame(grpHome).reset_index()
# dfHomeRec.head()

,attendance,away_final_score,away_team,home_final_score,home_team,venue_name
g_id,,,,,,
201500001,34,34,34,34,34,34
201500002,33,33,33,33,33,33
201500003,33,33,33,33,33,33
201500004,35,35,35,35,35,35
201500005,33,33,33,33,33,33
201500006,42,42,42,42,42,42
201500007,28,28,28,28,28,28
201500008,34,34,34,34,34,34
201500009,34,34,34,34,34,34
201500010,32,32,32,32,32,32
201500011,32,32,32,32,32,32
201500012,39,39,39,39,39,39
201500013,39,39,39,39,39,39
201500014,41,41,41,41,41,41
201500015,34,34,34,34,34,34
201500016,30,30,30,30,30,30
201500017,35,35,35,35,35,35
201500018,37,37,37,37,37,37
201500019,33,33,33,33,33,33
201500020,36,36,36,36,36,36
201500021,36,36,36,36,36,36
201500022,33,33,33,33,33,33
201500023,37,37,37,37,37,37
201500024,35,35,35,35,35,35
201500025,34,34,34,34,34,34
201500026,34,34,34,34,34,34
201500027,41,41,41,41,41,41
201500028,33,33,33,33,33,33
201500029,41,41,41,41,41,41
201500030,46,46,46,46,46,46
...,...,...,...,...,...,...
201802402,45,45,45,45,45,45
201802403,37,37,37,37,37,37
201802404,34,34,34,34,34,34
201802405,35,35,35,35,35,35
201802406,37,37,37,37,37,37
201802407,52,52,52,52,52,52
201802408,43,43,43,43,43,43
201802409,38,38,38,38,38,38
201802410,30,30,30,30,30,30
201802411,31,31,31,31,31,31
201802412,34,34,34,34,34,34
201802413,34,34,34,34,34,34
201802414,37,37,37,37,37,37
201802415,45,45,45,45,45,45
201802416,35,35,35,35,35,35
201802417,33,33,33,33,33,33
201802418,34,34,34,34,34,34
201802419,41,41,41,41,41,41
201802420,33,33,33,33,33,33
201802421,29,29,29,29,29,29
201802422,29,29,29,29,29,29
201802423,42,42,42,42,42,42
201802424,32,32,32,32,32,32
201802425,41,41,41,41,41,41
201802426,41,41,41,41,41,41
201802427,33,33,33,33,33,33
201802428,41,41,41,41,41,41
201802429,42,42,42,42,42,42
201802430,35,35,35,35,35,35
201802431,31,31,31,31,31,31

In [ ]:
#Jorge's Stat Visualizations - Average Homeruns at home vs Attendance

In [ ]:
#Kelsey's Home Team vs Visiting team Visualization

In [ ]:
#Keala's League Visualization - National vs American