In [1]:
#Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv
import datetime
import requests
import json

In [2]:
# Load CSV Files into Dataframes
games_file = "data/games.csv"
atbats_file = "data/atbats.csv"
player_name_file = "data/player_names.csv"

games_pd = pd.read_csv(games_file)
atbats_pd = pd.read_csv(atbats_file)
player_name_pd = pd.read_csv(player_name_file)

games_atbats_merge_pd = pd.merge(games_pd, atbats_pd, how="left", on=["g_id"])

games_atbats_merge_pd.columns = ['Attendance',
                                 'Final Score',
                                 'Away Team',
                                 'Game Date',
                                 'Elapsed Time',
                                 'Game ID',
                                 'Home Team Score',
                                 'Home Team',
                                 'Game Start Time',
                                 'Umpire 1',
                                 'Umpire 2',
                                 'Umpire 3',
                                 'Umpire HP',
                                 'Venue',
                                 'Weather',
                                 'Wind',
                                 'Delay Time',
                                 'AtBat ID',
                                 'Player ID',
                                 'Event',
                                 'Inning',
                                 'Outs',
                                 'Score of Pitchers Team',
                                 'Pitcher Hand',
                                 'Pitcher ID',
                                 'Batter Stance',
                                 'Top of the Inning'
                                ]
games_atbats_merge_pd.drop(['Umpire 1', 'Umpire 2','Umpire 3','Umpire HP','Outs','Batter Stance'], inplace=True, axis=1, errors='ignore')
games_atbats_merge_pd.head()

,Attendance,Final Score,Away Team,Game Date,Elapsed Time,Game ID,Home Team Score,Home Team,Game Start Time,Venue,...,Wind,Delay Time,AtBat ID,Player ID,Event,Inning,Score of Pitchers Team,Pitcher Hand,Pitcher ID,Top of the Inning
0,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Wrigley Field,...,"7 mph, In from CF",0,2015000001,572761,Groundout,1,0,L,452657,True
1,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Wrigley Field,...,"7 mph, In from CF",0,2015000002,518792,Double,1,0,L,452657,True
2,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Wrigley Field,...,"7 mph, In from CF",0,2015000003,407812,Single,1,0,L,452657,True
3,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Wrigley Field,...,"7 mph, In from CF",0,2015000004,425509,Strikeout,1,0,L,452657,True
4,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Wrigley Field,...,"7 mph, In from CF",0,2015000005,571431,Strikeout,1,0,L,452657,True

In [3]:

games_atbats_merge_pd.columns

Index(['Attendance', 'Final Score', 'Away Team', 'Game Date', 'Elapsed Time',
       'Game ID', 'Home Team Score', 'Home Team', 'Game Start Time', 'Venue',
       'Weather', 'Wind', 'Delay Time', 'AtBat ID', 'Player ID', 'Event',
       'Inning', 'Score of Pitchers Team', 'Pitcher Hand', 'Pitcher ID',
       'Top of the Inning'],
      dtype='object')

In [4]:
# Keala's Player Input Visualization

In [5]:
#Keala's Venue Visualization

In [6]:
#Scott's Weather Visualizations - Temp, Conditions, & Wind speed

In [7]:
#Kelsey's Time Visualizations - Day of the week, & Time of day

In [8]:
#Jorge's Stats Visualizations - Home scores/Record
### Get Home ABs
dfHomeAB  = games_atbats_merge_pd.loc[games_atbats_merge_pd['Top of the Inning'] == False, :] #Home ABs
dfHomeAB = dfHomeAB[['Game Date','Attendance', 'Final Score', 'Away Team', 'Game ID', 'Home Team Score', 'Home Team', 'Venue']]
dfAwayAB  = games_atbats_merge_pd.loc[games_atbats_merge_pd['Top of the Inning'] == True, :] #Away Abs
dfAwayAB = dfAwayAB[['Game Date','Attendance', 'Final Score', 'Away Team', 'Game ID', 'Home Team Score', 'Home Team', 'Venue']]
dfAwayAB.head()

#grpHome.count()

,Game Date,Attendance,Final Score,Away Team,Game ID,Home Team Score,Home Team,Venue
0,2015-04-05,35055,3,sln,201500001,0,chn,Wrigley Field
1,2015-04-05,35055,3,sln,201500001,0,chn,Wrigley Field
2,2015-04-05,35055,3,sln,201500001,0,chn,Wrigley Field
3,2015-04-05,35055,3,sln,201500001,0,chn,Wrigley Field
4,2015-04-05,35055,3,sln,201500001,0,chn,Wrigley Field

In [27]:
### Stadium Capacity
dictParkCapacity = {'Wrigley Field':41649, 
                    'Safeco Field':47715,  
                    'Marlins Park':36742,  
                    'Tropicana Field':25000, 
                    'Citizens Bank Park':43035,  
                    'Kauffman Stadium':37903,  
                    'Minute Maid Park':41168,  
                    'Miller Park':41900, 
                    'Comerica Park':41083,  
                    'Nationals Park':41339,  
                    'Great American Ball Park':42319, 
                    'Dodger Stadium':56000,  
                    'Chase Field':48686,  
                    'O.co Coliseum':47170,  
                    'Yankee Stadium':47309,  
                    'Petco Park':40209,  
                    'Coors Field':46897, 
                    'Progressive Field':35041, 
                    'Globe Life Park in Arlington':48114,  
                    'Angel Stadium of Anaheim':45477, 
                    'U.S. Cellular Field':40615,  
                    'Turner Field':49586,  
                    'Oriole Park at Camden Yards':45971, 
                    'AT&T Park':41915, 
                    'PNC Park':38747,  
                    'Target Field':38649,  
                    'Busch Stadium':45494,  
                    'Citi Field':41922, 
                    'Rogers Centre':49282,  
                    'Fenway Park':37755,  
                    'Oakland Coliseum':47170,  
                    'Fort Bragg Field':12500, 
                    'Guaranteed Rate Field':40615,  
                    'SunTrust Park':41084, 
                    'Williamsport Little League Classic':2596,  
                    'Hiram Bithorn Stadium':18264, 
                    'Estadio de Beisbol Monterrey':22061,  
                    'Angel Stadium':45477,  
                    'BB&T Ballpark':10200}

In [39]:
grpHome = dfHomeAB.groupby('Game ID')
#### Merge single home game rows 
gDate = grpHome['Game Date'].max()
gHomeAttend = grpHome['Attendance'].mean()
gAwayScore = grpHome['Final Score'].mean()
gHomeScore = grpHome['Home Team Score'].mean()
gHomeTeam = grpHome['Home Team'].max() 
gVenue = grpHome['Venue'].max() 
#### Create home game stats DF
pdHomeStats = pd.DataFrame({"Attendance":gHomeAttend,"Date":gDate,"Away Score":gAwayScore,"Home Score":gHomeScore,"Team":gHomeTeam,"Venue":gVenue})
pdHomeStats['Game Result'] = np.where(pdHomeStats['Home Score'] > pdHomeStats['Away Score'], 'W','L')
#pdHomeStats.head(15)
# allParks = pdHomeStats['Venue']
# allParks
# print(dfHomeAB['Venue'].unique())
pdHomeStats.head(15)

,Attendance,Date,Away Score,Home Score,Team,Venue,Game Result
Game ID,,,,,,,
201500001,35055,2015-04-05,3,0,chn,Wrigley Field,L
201500002,45909,2015-04-06,1,4,sea,Safeco Field,W
201500003,36969,2015-04-06,2,1,mia,Marlins Park,L
201500004,31042,2015-04-06,6,2,tba,Tropicana Field,L
201500005,45549,2015-04-06,8,0,phi,Citizens Bank Park,L
201500006,40085,2015-04-06,1,10,kca,Kauffman Stadium,W
201500007,43753,2015-04-06,0,2,hou,Minute Maid Park,W
201500008,46032,2015-04-06,10,0,mil,Miller Park,L
201500009,45030,2015-04-06,0,4,det,Comerica Park,W
201500010,42295,2015-04-06,3,1,was,Nationals Park,L
201500011,43633,2015-04-06,2,5,cin,Great American Ball Park,W
201500012,53518,2015-04-06,3,6,lan,Dodger Stadium,W
201500013,49043,2015-04-06,5,4,ari,Chase Field,L
201500014,36067,2015-04-06,0,8,oak,O.co Coliseum,W
201500015,48469,2015-04-06,6,1,nya,Yankee Stadium,L

In [38]:
#Jorge's Stat Visualizations - Average Homeruns at home vs Attendance
str(gVenue)

'Game ID\n201500001                  [Wrigley Field]\n201500002                   [Safeco Field]\n201500003                   [Marlins Park]\n201500004                [Tropicana Field]\n201500005             [Citizens Bank Park]\n201500006               [Kauffman Stadium]\n201500007               [Minute Maid Park]\n201500008                    [Miller Park]\n201500009                  [Comerica Park]\n201500010                 [Nationals Park]\n201500011       [Great American Ball Park]\n201500012                 [Dodger Stadium]\n201500013                    [Chase Field]\n201500014                  [O.co Coliseum]\n201500015                 [Yankee Stadium]\n201500016                   [Safeco Field]\n201500017                   [Marlins Park]\n201500018                [Tropicana Field]\n201500019                    [Miller Park]\n201500020                 [Dodger Stadium]\n201500021                    [Chase Field]\n201500022                  [O.co Coliseum]\n201500023                   [Safeco Field]\n201500024                   [Marlins Park]\n201500025                [Tropicana Field]\n201500026             [Citizens Bank Park]\n201500027               [Kauffman Stadium]\n201500028               [Minute Maid Park]\n201500029                    [Miller Park]\n201500030                  [Comerica Park]\n                         ...              \n201802402               [Kauffman Stadium]\n201802403                    [Miller Park]\n201802404    [Oriole Park at Camden Yards]\n201802405    [Oriole Park at Camden Yards]\n201802406                      [AT&T Park]\n201802407                     [Citi Field]\n201802408                    [Fenway Park]\n201802409                  [Angel Stadium]\n201802410       [Great American Ball Park]\n201802411                  [Wrigley Field]\n201802412                   [Safeco Field]\n201802413                [Tropicana Field]\n201802414                    [Coors Field]\n201802415                     [Petco Park]\n201802416             [Citizens Bank Park]\n201802417                   [Target Field]\n201802418               [Kauffman Stadium]\n201802419                    [Miller Park]\n201802420    [Oriole Park at Camden Yards]\n201802421                      [AT&T Park]\n201802422                     [Citi Field]\n201802423                    [Fenway Park]\n201802424                  [Angel Stadium]\n201802425       [Great American Ball Park]\n201802426                  [Wrigley Field]\n201802427                   [Safeco Field]\n201802428                [Tropicana Field]\n201802429                    [Coors Field]\n201802430                 [Dodger Stadium]\n201802431                  [Wrigley Field]\nName: Venue, Length: 9718, dtype: object'

In [11]:
#Kelsey's Home Team vs Visiting team Visualization

In [12]:
#Keala's League Visualization - National vs American