In [2]:
#Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv
import datetime
import requests
import json

In [3]:
# Load CSV Files into Dataframes
games_file = "data/games.csv"
atbats_file = "data/atbats.csv"
player_name_file = "data/player_names.csv"

games_pd = pd.read_csv(games_file)
atbats_pd = pd.read_csv(atbats_file)
player_name_pd = pd.read_csv(player_name_file)

games_atbats_merge_pd = pd.merge(games_pd, atbats_pd, how="left", on=["g_id"])
games_atbats_merge_pd.head()

,attendance,away_final_score,away_team,date,elapsed_time,g_id,home_final_score,home_team,start_time,umpire_1B,...,ab_id,batter_id,event,inning,o,p_score,p_throws,pitcher_id,stand,top
0,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Mark Wegner,...,2015000001,572761,Groundout,1,1,0,L,452657,L,True
1,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Mark Wegner,...,2015000002,518792,Double,1,1,0,L,452657,L,True
2,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Mark Wegner,...,2015000003,407812,Single,1,1,0,L,452657,R,True
3,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Mark Wegner,...,2015000004,425509,Strikeout,1,2,0,L,452657,R,True
4,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Mark Wegner,...,2015000005,571431,Strikeout,1,3,0,L,452657,L,True

In [4]:
#Average Homeruns at home vs Attendance
games_atbats_merge_pd.columns

Index(['attendance', 'away_final_score', 'away_team', 'date', 'elapsed_time',
       'g_id', 'home_final_score', 'home_team', 'start_time', 'umpire_1B',
       'umpire_2B', 'umpire_3B', 'umpire_HP', 'venue_name', 'weather', 'wind',
       'delay', 'ab_id', 'batter_id', 'event', 'inning', 'o', 'p_score',
       'p_throws', 'pitcher_id', 'stand', 'top'],
      dtype='object')

In [ ]:
#Team Record vs Attendances
#Go Mets

In [ ]:
# Hello World (scott)